<!-- <h2>App component</h2>
<h4>From Employee servie =>  {{servie.employeeName}}</h4>
 <h4>from Animal service  =>  {{animalservice.animalName}}</h4> -->


<!-- <app-employee>
  <app-employees-list>

  </app-employees-list>
</app-employee> -->
<app-child1>
</app-child1>
<app-child2>
</app-child2>

<!-- <app-root @NgModule(AppModule)
        @Inject(EmployeeService) servie=>"🌺">
  <#VIEW>
    <p>Emoji from EmployeeService: {{servie.emoji}} (🌺)</p>
    //<app-child>
      <#VIEW>
      </#VIEW>
     //</app-child>
  </#VIEW>
</app-root> -->
